/* [project]/src/app/uno.css [app-client] (css) */
@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Ck_kIfWMuUZctdhow.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Ck_kIZmMuUZctdhow.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Ck_kIZ2MuUZctdhow.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Ck_kIaWMuUZctdg.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Cv_4IfWMuUZctdhow.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Cv_4IZmMuUZctdhow.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Cv_4IZ2MuUZctdhow.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2Cv_4IaWMuUZctdg.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2C2_8IfWMuUZctdhow.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2C2_8IZmMuUZctdhow.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2C2_8IZ2MuUZctdhow.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/prompt/v12/-W_8XJnvUD7dzB2C2_8IaWMuUZctdg.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVjJx26TKEr37c9aAFJn3YO5gjupg.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVjJx26TKEr37c9aBpJn3YO5gjupg.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVjJx26TKEr37c9aBtJn3YO5gjupg.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVjJx26TKEr37c9aBVJn3YO5gg.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YOZqik8s6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YOZqilQs6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YOZqilUs6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YOZqilss6yLUrwA.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YMptik8s6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YMptilQs6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YMptilUs6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YMptilss6yLUrwA.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YK5sik8s6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+2D7, U+303, U+331, U+E01-E5B, U+200C-200D, U+25CC;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YK5silQs6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YK5silUs6yLUrwB0lw.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/sarabun/v17/DtVmJx26TKEr37c9YK5silss6yLUrwA.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, :before, :after, ::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 #0000;
  --un-ring-shadow: 0 0 #0000;
  --un-shadow-inset: ;
  --un-shadow: 0 0 #0000;
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: #93c5fd80;
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}

.i-tabler-alert-triangle {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 9v4m-1.637-9.409L2.257 17.125a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636-2.87L13.637 3.59a1.914 1.914 0 0 0-3.274 0M12 16h.01'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-box-multiple {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M7 5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H9a2 2 0 0 1-2-2z'/%3E%3Cpath d='M17 17v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h2'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-category-2 {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14 4h6v6h-6zM4 14h6v6H4zm10 3a3 3 0 1 0 6 0a3 3 0 1 0-6 0M4 7a3 3 0 1 0 6 0a3 3 0 1 0-6 0'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-circle-filled {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M7 3.34a10 10 0 1 1-4.995 8.984L2 12l.005-.324A10 10 0 0 1 7 3.34'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-circle-plus {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m6 0h6m-3-3v6'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-device-floppy {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M6 4h10l4 4v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2'/%3E%3Cpath d='M10 14a2 2 0 1 0 4 0a2 2 0 1 0-4 0m4-10v4H8V4'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-loader-2 {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3a9 9 0 1 0 9 9'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-package {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m12 3l8 4.5v9L12 21l-8-4.5v-9zm0 9l8-4.5M12 12v9m0-9L4 7.5m12-2.25l-8 4.5'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-palette {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M12 21a9 9 0 0 1 0-18c4.97 0 9 3.582 9 8c0 1.06-.474 2.078-1.318 2.828S17.693 15 16.5 15H14a2 2 0 0 0-1 3.75A1.3 1.3 0 0 1 12 21'/%3E%3Cpath d='M7.5 10.5a1 1 0 1 0 2 0a1 1 0 1 0-2 0m4-3a1 1 0 1 0 2 0a1 1 0 1 0-2 0m4 3a1 1 0 1 0 2 0a1 1 0 1 0-2 0'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-pencil {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 20h4L18.5 9.5a2.828 2.828 0 1 0-4-4L4 16zm9.5-13.5l4 4'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-plus {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5v14m-7-7h14'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-refresh {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 11A8.1 8.1 0 0 0 4.5 9M4 5v4h4m-4 4a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-search {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-shopping-bag {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M6.331 8H17.67a2 2 0 0 1 1.977 2.304l-1.255 8.152A3 3 0 0 1 15.426 21H8.574a3 3 0 0 1-2.965-2.544l-1.255-8.152A2 2 0 0 1 6.331 8'/%3E%3Cpath d='M9 11V6a3 3 0 0 1 6 0v5'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-tag {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M6.5 7.5a1 1 0 1 0 2 0a1 1 0 1 0-2 0'/%3E%3Cpath d='M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592-5.592a2.41 2.41 0 0 0 0-3.408l-7.71-7.71A2 2 0 0 0 11.172 3H6a3 3 0 0 0-3 3'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-trash {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 7h16m-10 4v6m4-6v6M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12M9 7V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.i-tabler-x {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.error-text {
  --un-text-opacity: 1;
  min-height: 1.2em;
  color: rgb(220 38 38 / var(--un-text-opacity));
  font-size: .75rem;
  font-weight: 500;
  line-height: 1rem;
}

.field-input {
  --un-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(179 228 205 / var(--un-border-opacity));
  --un-text-opacity: 1;
  width: 100%;
  color: rgb(12 57 43 / var(--un-text-opacity));
  outline-offset: 2px;
  background-color: #effaf566;
  border-radius: .5rem;
  outline: 2px solid #0000;
  padding: .5rem .75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.btn-danger {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity));
  background-color: #dc2626e6;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  padding: .375rem .75rem;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: inline-flex;
}

.btn-primary {
  --un-bg-opacity: 1;
  background-color: rgb(23 107 77 / var(--un-bg-opacity));
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity));
  --un-shadow: var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, #0000000d);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  padding: .5rem 1rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: inline-flex;
}

.btn-secondary {
  --un-bg-opacity: 1;
  background-color: rgb(217 242 230 / var(--un-bg-opacity));
  --un-text-opacity: 1;
  color: rgb(14 69 50 / var(--un-text-opacity));
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  padding: .5rem 1rem;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: inline-flex;
}

.btn-danger:active, .btn-primary:active, .btn-secondary:active {
  --un-scale-x: .98;
  --un-scale-y: .98;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

.btn-primary:disabled, .btn-secondary:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.panel-card {
  --un-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(217 242 230 / var(--un-border-opacity));
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
  --un-shadow: var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, #0000000d);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
  --un-shadow-color: #0c392b0d;
  border-radius: 1rem;
}

.field-input[aria-invalid="true"] {
  --un-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--un-border-opacity));
  --un-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--un-bg-opacity));
}

.field-input:focus {
  --un-border-opacity: 1;
  border-color: rgb(39 154 111 / var(--un-border-opacity));
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
  --un-ring-width: 2px;
  --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
  --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
  --un-ring-color: #279a6f40;
}

.btn-danger:hover {
  --un-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--un-bg-opacity));
}

.btn-primary:hover {
  --un-bg-opacity: 1;
  background-color: rgb(17 87 62 / var(--un-bg-opacity));
}

.btn-secondary:hover {
  --un-bg-opacity: 1;
  background-color: rgb(179 228 205 / var(--un-bg-opacity));
}

.field-label {
  --un-text-opacity: 1;
  color: rgb(14 69 50 / var(--un-text-opacity));
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.field-input::placeholder {
  color: #0c392b59;
}

.btn-primary:focus-visible {
  --un-outline-color-opacity: 1;
  outline-width: 2px;
  outline-color: rgb(23 107 77 / var(--un-outline-color-opacity));
  outline-offset: 2px;
}

.field-input:focus[aria-invalid="true"] {
  --un-ring-color: #f8717140;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-bottom-24 {
  bottom: -6rem;
}

.-right-16 {
  right: -4rem;
}

.-top-20 {
  top: -5rem;
}

.left-1\/3 {
  left: 33.3333%;
}

.left-3 {
  left: .75rem;
}

.top-1\/2 {
  top: 50%;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.m-4 {
  margin: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-0\.5 {
  margin-top: .125rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.h-\[38px\] {
  height: 38px;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-56 {
  height: 14rem;
}

.h-64 {
  height: 16rem;
}

.max-w-64 {
  max-width: 16rem;
}

.max-w-6xl {
  max-width: 72rem;
}

.min-h-\[1\.2em\] {
  min-height: 1.2em;
}

.min-h-screen {
  min-height: 100vh;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-56 {
  width: 14rem;
}

.w-64 {
  width: 16rem;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-1 {
  flex: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-y-1\/2 {
  --un-translate-y: -50%;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

.active\:scale-\[0\.98\]:active {
  --un-scale-x: .98;
  --un-scale-y: .98;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: 1s linear infinite spin;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.appearance-none {
  appearance: none;
}

.place-items-center {
  place-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: .25rem;
}

.gap-1\.5 {
  gap: .375rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-x-2 {
  column-gap: .5rem;
}

.space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(.375rem * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(.375rem * var(--un-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(1rem * var(--un-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--un-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.\!border-0 {
  border-width: 0 !important;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.aria-\[invalid\=true\]\:border-red-400[aria-invalid="true"] {
  --un-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--un-border-opacity));
}

.border-brand-100 {
  --un-border-opacity: 1;
  border-color: rgb(217 242 230 / var(--un-border-opacity));
}

.border-brand-100\/70 {
  border-color: #d9f2e6b3;
}

.border-brand-200 {
  --un-border-opacity: 1;
  border-color: rgb(179 228 205 / var(--un-border-opacity));
}

.border-red-200 {
  --un-border-opacity: 1;
  border-color: rgb(254 202 202 / var(--un-border-opacity));
}

.focus\:border-brand-500:focus {
  --un-border-opacity: 1;
  border-color: rgb(39 154 111 / var(--un-border-opacity));
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-xl {
  border-radius: .75rem;
}

.\!bg-white\/10 {
  background-color: #ffffff1a !important;
}

.aria-\[invalid\=true\]\:bg-red-50[aria-invalid="true"], .bg-red-50 {
  --un-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--un-bg-opacity));
}

.bg-\[length\:1\.1em\] {
  background-size: 1.1em;
}

.bg-\[position\:right_0\.75rem_center\] {
  background-position: right .75rem center;
}

.bg-\[url\(\'data\:image\/svg\+xml\;charset\=utf-8\,\%3Csvg\ xmlns\=\%22http\:\/\/www\.w3\.org\/2000\/svg\%22\ viewBox\=\%220\ 0\ 24\ 24\%22\ fill\=\%22none\%22\ stroke\=\%22\%23176b4d\%22\ stroke-width\=\%222\%22\ stroke-linecap\=\%22round\%22\ stroke-linejoin\=\%22round\%22\%3E\%3Cpath\ d\=\%22M6\ 9l6\ 6l6\ -6\%22\/\%3E\%3C\/svg\%3E\'\)\] {
  --un-url: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22 fill=%22none%22 stroke=%22%23176b4d%22 stroke-width=%222%22 stroke-linecap=%22round%22 stroke-linejoin=%22round%22%3E%3Cpath d=%22M6 9l6 6l6 -6%22/%3E%3C/svg%3E");
  background-image: var(--un-url);
}

.bg-amber-100 {
  --un-bg-opacity: 1;
  background-color: rgb(254 243 199 / var(--un-bg-opacity));
}

.bg-brand-100 {
  --un-bg-opacity: 1;
  background-color: rgb(217 242 230 / var(--un-bg-opacity));
}

.bg-brand-400\/30 {
  background-color: #4bb5894d;
}

.bg-brand-50 {
  --un-bg-opacity: 1;
  background-color: rgb(239 250 245 / var(--un-bg-opacity));
}

.bg-brand-50\/40 {
  background-color: #effaf566;
}

.bg-brand-50\/60 {
  background-color: #effaf599;
}

.bg-brand-50\/70 {
  background-color: #effaf5b3;
}

.bg-brand-500\/40 {
  background-color: #279a6f66;
}

.bg-brand-600 {
  --un-bg-opacity: 1;
  background-color: rgb(23 107 77 / var(--un-bg-opacity));
}

.bg-brand-700 {
  --un-bg-opacity: 1;
  background-color: rgb(17 87 62 / var(--un-bg-opacity));
}

.bg-red-100 {
  --un-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--un-bg-opacity));
}

.bg-red-600\/90 {
  background-color: #dc2626e6;
}

.bg-white {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
}

.bg-white\/10 {
  background-color: #ffffff1a;
}

.selection\:bg-brand-200 ::selection, .selection\:bg-brand-200::selection {
  --un-bg-opacity: 1;
  background-color: rgb(179 228 205 / var(--un-bg-opacity));
}

.hover\:\!bg-white\/20:hover {
  background-color: #fff3 !important;
}

.hover\:bg-brand-200:hover {
  --un-bg-opacity: 1;
  background-color: rgb(179 228 205 / var(--un-bg-opacity));
}

.hover\:bg-brand-50\/60:hover {
  background-color: #effaf599;
}

.hover\:bg-brand-700:hover {
  --un-bg-opacity: 1;
  background-color: rgb(17 87 62 / var(--un-bg-opacity));
}

.hover\:bg-red-700:hover {
  --un-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--un-bg-opacity));
}

.focus\:bg-white:focus {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
}

.from-brand-50 {
  --un-gradient-from-position: 0%;
  --un-gradient-from: rgb(239 250 245 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);
  --un-gradient-to-position: 100%;
  --un-gradient-to: #effaf500 var(--un-gradient-to-position);
  --un-gradient-stops: var(--un-gradient-from), var(--un-gradient-to);
}

.via-white {
  --un-gradient-via-position: 50%;
  --un-gradient-to: #fff0;
  --un-gradient-stops: var(--un-gradient-from), rgb(255 255 255 / var(--un-via-opacity, 1)) var(--un-gradient-via-position), var(--un-gradient-to);
}

.to-brand-100\/60 {
  --un-gradient-to-position: 100%;
  --un-gradient-to: #d9f2e699 var(--un-gradient-to-position);
}

.bg-gradient-to-b {
  --un-gradient-shape: to bottom in oklch;
  --un-gradient: var(--un-gradient-shape), var(--un-gradient-stops);
  background-image: linear-gradient(var(--un-gradient));
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  object-fit: cover;
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.\!px-3 {
  padding-left: .75rem !important;
  padding-right: .75rem !important;
}

.\!py-1\.5 {
  padding-top: .375rem !important;
  padding-bottom: .375rem !important;
}

.px-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-0\.5 {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.py-1\.5 {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pt-4 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.\!text-xs {
  font-size: .75rem !important;
  line-height: 1rem !important;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.\!text-white {
  --un-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--un-text-opacity)) !important;
}

.text-amber-700 {
  --un-text-opacity: 1;
  color: rgb(180 83 9 / var(--un-text-opacity));
}

.text-brand-100\/80 {
  color: #d9f2e6cc;
}

.text-brand-200 {
  --un-text-opacity: 1;
  color: rgb(179 228 205 / var(--un-text-opacity));
}

.text-brand-500 {
  --un-text-opacity: 1;
  color: rgb(39 154 111 / var(--un-text-opacity));
}

.text-brand-600 {
  --un-text-opacity: 1;
  color: rgb(23 107 77 / var(--un-text-opacity));
}

.text-brand-700 {
  --un-text-opacity: 1;
  color: rgb(17 87 62 / var(--un-text-opacity));
}

.text-brand-800 {
  --un-text-opacity: 1;
  color: rgb(14 69 50 / var(--un-text-opacity));
}

.text-brand-900 {
  --un-text-opacity: 1;
  color: rgb(12 57 43 / var(--un-text-opacity));
}

.text-brand-900\/35 {
  color: #0c392b59;
}

.text-brand-900\/40 {
  color: #0c392b66;
}

.text-brand-900\/50 {
  color: #0c392b80;
}

.text-red-600 {
  --un-text-opacity: 1;
  color: rgb(220 38 38 / var(--un-text-opacity));
}

.text-red-600\/90 {
  color: #dc2626e6;
}

.text-red-700 {
  --un-text-opacity: 1;
  color: rgb(185 28 28 / var(--un-text-opacity));
}

.text-white {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity));
}

.placeholder\:text-brand-900\/35::placeholder {
  color: #0c392b59;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.tracking-wide {
  letter-spacing: .025em;
}

.font-display {
  font-family: Prompt;
}

.font-sans {
  font-family: Sarabun, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.uppercase {
  text-transform: uppercase;
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.underline-offset-2 {
  text-underline-offset: 2px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled\:opacity-50:disabled {
  opacity: .5;
}

.shadow-brand-900\/20 {
  --un-shadow-color: #0c392b33;
}

.shadow-brand-900\/5 {
  --un-shadow-color: #0c392b0d;
}

.shadow-lg {
  --un-shadow: var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, #0000001a),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, #0000001a);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.shadow-sm {
  --un-shadow: var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, #0000000d);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.focus-visible\:outline-2:focus-visible {
  outline-width: 2px;
}

.focus-visible\:outline-brand-600:focus-visible {
  --un-outline-color-opacity: 1;
  outline-color: rgb(23 107 77 / var(--un-outline-color-opacity));
}

.focus-visible\:outline-offset-2:focus-visible {
  outline-offset: 2px;
}

.outline-none {
  outline-offset: 2px;
  outline: 2px solid #0000;
}

.ring-1 {
  --un-ring-width: 1px;
  --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
  --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.focus\:ring-2:focus {
  --un-ring-width: 2px;
  --un-ring-offset-shadow: var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
  --un-ring-shadow: var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.ring-brand-200 {
  --un-ring-opacity: 1;
  --un-ring-color: rgb(179 228 205 / var(--un-ring-opacity));
}

.ring-brand-200\/70 {
  --un-ring-color: #b3e4cdb3;
}

.ring-brand-300 {
  --un-ring-opacity: 1;
  --un-ring-color: rgb(127 208 172 / var(--un-ring-opacity));
}

.ring-white\/20 {
  --un-ring-color: #fff3;
}

.ring-white\/25 {
  --un-ring-color: #ffffff40;
}

.aria-\[invalid\=true\]\:focus\:ring-red-400\/25:focus[aria-invalid="true"] {
  --un-ring-color: #f8717140;
}

.focus\:ring-brand-500\/25:focus {
  --un-ring-color: #279a6f40;
}

.ring-inset {
  --un-ring-inset: inset;
}

.backdrop-blur {
  --un-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);
  backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);
}

.blur-3xl {
  --un-blur: blur(64px);
  filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);
}

.drop-shadow {
  --un-drop-shadow: drop-shadow(0 1px 2px var(--un-drop-shadow-color, #0000001a)) drop-shadow(0 1px 1px var(--un-drop-shadow-color, #0000000f));
  filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:inline {
    display: inline;
  }

  .sm\:flex-none {
    flex: none;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:p-8 {
    padding: 2rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:sticky {
    position: sticky;
  }

  .lg\:top-6 {
    top: 1.5rem;
  }

  .lg\:grid-cols-\[minmax\(0\,2fr\)_minmax\(0\,1fr\)_minmax\(0\,1fr\)_auto\] {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr) auto;
  }

  .lg\:grid-cols-\[minmax\(0\,7fr\)_minmax\(0\,5fr\)\] {
    grid-template-columns: minmax(0, 7fr) minmax(0, 5fr);
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*# sourceMappingURL=src_app_uno_css_1igg3k2._.single.css.map*/